
<div class="row footer">
    <div class="col-3">
        <h1>AquaCulture</h1>
    </div>

<div class="col-3">
    <h5>ADDRESS</h5>
    <p><i class="fa fa-map-marker" style="font-size:24px;color:rgb(201, 10, 160);"></i>Telangana,Nalgonda</p>
    <p><i class="fa fa-phone" style="font-size:24px;color:rgb(10, 201, 112);"></i>9852654218</p>

</div>


<div class="col-3">
<h5>ABOUT US</h5>
<P>This farm is responsible for taking new challenges for improvment and creating carrer opportunities to youngsters </P>
<p>ContactUs:koteshkunapuri@gmail.com</p>
</div>

<div class="col-3">
    <h5>FOLLOW US</h5>
    <p>
        <i class="fa fa-facebook" style="font-size:24px;color:cornflowerblue;"></i>
<i class="fa fa-twitter" style="font-size:24px;color:red;"></i>
<i class="fa fa-linkedin" style="font-size:24px;color:rgb(11, 62, 156);"></i>
<i class="fa fa-instagram" style="font-size:24px;color:rgb(240, 39, 12);text-shadow:2px 2px 4px #000000;"></i>

</p>


</div>


</div>
