<div class="container">
    <img src="./assets/images/fish.jpg" alt="Snow" style="width:100%;">
    <div class="centered"><h1>KS AQUA FARM</h1><br>
    <p>This farm is responsible for taking new challenges and creating opportunities for youngsters
    </p>
    </div>
  </div>


  <div class="mission">
      <img src="./assets/images/vision.jpg" alt="vision" width="600px" height="400px">
              <h5  style="color: black;">our mission</h5>
              <p class="card-text">To provide nutritional high quality Mediterranean fish, thus meeting multiple consumer health needs, in existing and new markets through widening our distribution network.</p>
            
    
            
              <h5 style="color: black;"> Our Goals </h5>

<p>▶Sustainable Development</p>

<p>▶Profitability growth - ΕΒΙΤDA</p>

<p>▶Decrease of production cost by improving production methods and innovations</p>

<p>▶Preservation of market shares</p>

<p>▶Development of new added value products</p>

<p>▶Development and upgrade of Information Technology Systems</p>

<p>▶Development of a new Marketing Strategy</p>

<p>▶Actions for HR development and training</p>


            </div>