<div class="row">
    <div class="col-3">
 <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="./assets/images/goldfish.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Goldfish</h5>
      <p class="card-text">a small usually golden-orange Asian cyprinid fish (Carassius auratus) often kept as an aquarium and pond fish.
    </p>
    </div>
  </div>
</div>
<div class="col-3">
    <div class="card" style="width: 18rem;">
       <img class="card-img-top" src="./assets/images/dolphin.webp" alt="Card image cap">
       <div class="card-body">
        <h5 class="card-title">Dolphin</h5>
         <p class="card-text">Dolphins are incredibly intelligent, social, wide-ranging and deep-diving marine mammals. They live in complex social groups.</p>
       </div>
     </div>
   </div>
   <div class="col-3">
    <div class="card" style="width: 18rem;">
       <img class="card-img-top" src="./assets/images/shark.webp" alt="Card image cap">
       <div class="card-body">
           <h5 class="card-title">shark</h5>
         <p class="card-text">Sharks are a group of elasmobranch fish characterized by a cartilaginous skeleton, five to seven gill slits on the sides of the head, and pectoral fins that are not fused to the head.</p>
       </div>
     </div>
   </div>
   <div class="col-3">
    <div class="card" style="width: 18rem;">
       <img class="card-img-top" src="./assets/images/catla.webp" alt="Card image cap">
       <div class="card-body">
        <h5 class="card-title">catla</h5>
         <p class="card-text">Catla is a fish with large and broad head, a large protruding lower jaw, and upturned mouth. It has large, greyish scales on its dorsal side and whitish on its belly.</p>
       </div>
     </div>
   </div>
<div class="ts">
   <h5>what is the telangana fish?</h5>
   <p>Following state bird, animal, and other symbols, Telangana Government recently announced Murrel Fish as its state fish. ... Murrel or popularly known as Channa Striatus is officially announced as the “State Icon Fish” of TS, during a government event.</p>
</div>


<div class="container">
    <div class="card murrel" style="width: 50rem;">
        <img class="card-img-top" src="./assets/images/murrel.jpg" alt="Card image cap">
        <div class="card-body">
         <h5 class="card-title">Murrel</h5>
          <p class="card-text">The famous fish of Telangana “Korramatta” or murrel fish got a new and prestigious identity as it is affirmed as the state fish of Telangana State. Principal Secretary of fisheries department Suresh Chanda has declared this new glorious status of Murrel fish few yesterday.

            Following state bird, animal, and other symbols, Telangana Government recently announced Murrel Fish as its state fish. Murrel or popularly known as Channa Striatus is officially announced as the “State Icon Fish” of TS, during a government event.
            
            </p>
            <p>Murrel fish is one of the largest species found in Telangana. Murrel is defined as ‘Korramatta’ or ‘Korrameenu’ in Telugu. Following 6 State Icons like State Bird – Pala Pitta, State flower – Tangedu, State Fruit – Mango, State Tree – Jammi, State Sport – Kabaddi and State Animal – Jinka, Murrel is the seventh State icon announced by Telangana Government.

            </p>
            <p>After this authorized announcement, The Government of Telangana also has prescribed some rules and amendments regarding the safety and growth of this species. The TS Government also implemented certain guidelines specified by an expert Aqua committee on animal and fish biodiversity, so that the regulation process of exotic fish culture like Tilapia can be adequately executed in Telangana water bodies.

               </p>
               <p> As the numbers of Aqua species in Telangana are too low, the state government seems to be more careful as it declared some rules. According to the announced government order, Telangana only has 109 fish species in its water sources like rivers, canals, and other water bodies due to which Telangana government is decided to permit Foreign Tilapia fish nurseries so that the number of fishes will increase. Moreover, the order also says that only those nurseries will get permission for Aqua cultivation that is licensed from Government or any authorized organizations.
                
                </p>
        </div>
      </div>
</div>












</div>