<h1 id="k">Various Types of Aquaculture and its
     Amazing Benefits</h1>
<p>Aquaculture is the harvesting process of fish in various aquatic environment. Increasing popularity of seafood and
 ample benefits of fish have enhanced the demand for the aquaculture in recent years.</p>
 <img src="./assets/images/20.jpeg" alt="no img" width="300px" height="300px" class="center" >
 <p>the aquaculture as the process of breeding, rearing, and harvesting of aquatic creatures including fish, shellfish,
      algae, and other marine organisms in all types of water atmospheres.

    With the increased demand of sumptuous seafood delicacies worldwide and technologies advances, it has become possible
     to grow food in coastal marine waters and the open ocean.
    
    Aquaculture , to be more precise, is skillful procedure of nurturing aquatic organisms for human consumption. 
    It goes in the same line to agriculture, if we replace plants or livestock with fishes.
    
    Fish farming is another term referred to aquaculture. Aquaculture can be performed anywhere from coastal ocean
     waters to freshwater ponds and rivers to tanks on the land.</p>
     
     <div>
         <h3 style="color: rgb(189, 214, 216);">Different Types of Aquaculture</h3>
         <h6 style="color: rgb(230, 131, 18);">1. Mariculture</h6>
         <p>Mariculture needs seawater. This type of aquaculture is done either by the ocean, a segmented part of the
              ocean, or in ponds containing seawater. Molluscs, shellfish, prawn, and seaweed are the marine organisms
               often bred in such parts of the oceans.
               <img src="./assets/images/mariculture.jpg" alt="no img" width="300px" height="300px" class="center" >
            Another great fragment of mariculture is the seaweeds. These seaweeds and species are used in cosmetics and
             jwelry manufacturing industries. For instance, collagen extracted from seaweed is used in some facial creams
              whereas pearls are hand-picked from molluscs and turned into stunning fashion accessories.</p>
              <h6 style="color: rgb(238, 126, 51);">2. Fish Farming</h6>
              <p>Needless to say that fish farming is the basic type of aquaculture. The process includes the careful breeding of fish.
                   It can be done in any freshwater, preferably seawater.  This method of breeding helps in creating a source for food 
                   and consumption.
                   <img src="./assets/images/fishfarming.jpg" alt="no img" width="300px" height="300px" class="center" >
                Comparatively easier, the process of fish farming only needs proper water conditions and temperatures. There is no need
                 of a larger space for this type of farming as the breeding species such as tilapia are way too small.</p>
              <h6 style="color: rgb(238, 150, 68);">3. AlgaCulture</h6>
              <p>Algaculture involves the farming of algae. As we all know, algae are microbial organisms with resemblance 
                  to animal and plant characteristics. For economic viability, they are harvested in huge numbers. Algae are
                   used for various purposes. An example of such application is the source of energy for smartphones. Exxon
                    mobile is working towards developing them as a new energy source.
                    <img src="./assets/images/algaculture.jpg" alt="no img" width="300px" height="300px" class="center" >

            </p>
              <h6 style="color: rgb(238, 139, 58);">4. Open-net pen and Cage Systems</h6>
              <p>Open-net pen and Cage systems are another types of aquaculture which are implanted offshore and in freshwater lakes.
               <img src="./assets/images/cage systems.jpg" alt="no img" width="300px" height="300px" class="center" >
                First, net cages of between 6 and 60 cubic feet (pens) are implanted in the water with the fish inside it. With a high 
                absorption of fish in the pens, water environments become purified from chemicals, wastes, or parasites. The fishes in
                 the net cages also entice predacious animals and bigger fish, which are get trapped in the nets.</p>
                 <h3 style="text-align: center;">Amazing Benefits of Aquaculture</h3>
                 <p>Studies proved that aquaculture has brought immense positive impact on the global food production
                      industry. Some of the amazing benefits of aquaculture are mentioned below:

                </p>
                <h6>1. Rich source of micronutrients and animal protein </h6>
                <p>Aquaculture or fish farming is considered as a great source of protein. Fish fulfills the day today
                     necessity of animal protein to more than 1 billion people worldwide with poor resources, which is 
                     a product of aquaculture.

                    Micronutrients, found in fishes, are also important for proper cognitive and physical development of
                     children. Thus, aquaculture helps in overall development of people worldwide.
                    
                    </p>
                    <h6>2.It conserves the aquatic population </h6>
                    <p>Aquaculture helps in preserving the population of wild aquatic plants and other organisms by averting
                         the extinction of such species which is caused by unrestrained mistreatment.</p>
                         <h6>3. A Nurturer of biodiversity and ecosystem </h6>
                         <p>It is another great benefit of aquaculture. The techniques of aquaculture have resulted in the 
                             discovery of ways in which diverse aquatic organisms and plants can coexist naturally. Thus, 
                             aquaculture helps in decreasing environmental waste and augmenting the proper functioning of the ecosystem</p>
                             <h6>4. Employment Opportunities</h6>
                             <p>Aquaculture also brings various career opportunities. As an emerging field of career, aqua farming will create 
                                 ample job opportunities.</p>
            </div>
