<marquee>AQUAFARMING</marquee>
<h1 id="k">AQUACULTURE</h1>
<P>Since seventy percent of the world’s surface is covered in water, humans have realized its importance as a resource.
     For this reason, one of the areas heavily exploited regarding the use of water as a resource is aquaculture, 
     especially in the production of food as opposed to using the terrestrial land.

    Aquaculture is the process of rearing, breeding and harvesting of aquatic species, both animals and plants, in 
    controlled aquatic environments like the oceans, lakes, rivers, ponds and streams. It serves different purposes,
     including food production, restoration of threatened and endangered species populations, wild stock population
      enhancement, the building of aquariums, and fish cultures and habitat restoration. Here are the various types
       of aquaculture, as well as their importance.
    
    </P>
    <img src="./assets/images/aqua.webp" alt="no img" width="300px" height="300px" class="center" >
    <h2>Why do we need it?</h2>
    <p>By 2030, 62 percent of all seafood produced for human consumption will come from aquaculture. Today, it’s about 
       50 percent. So, what is aquaculture?

      Aquaculture is the controlled process of cultivating aquatic organisms, especially for human consumption. 
      It’s a similar concept to agriculture, but with fish instead of plants or livestock. Aquaculture is also
       referred to as fish farming. The seafood that you find at your local grocery store is likely labeled as
        farmed fish. Aquaculture can happen all over the world, and it does: in coastal ocean waters, freshwater 
        ponds and rivers, and even on land in tanks.
      
      </p>
      <h2>How does it work?</h2>
<p><img src="./assets/images/13.png" alt="no img" height="250px" width="500px" align="right"> methods of aquaculture’s farm-to-table process can differ from species to species. Generally, there are four stages
 of the production chain, starting in hatcheries and ending at the seafood counter in your grocery store.

Each of these stages can vary with respect to its effect on the environment and the quality and safety of the seafood 
they produce, which is why the Global Aquaculture Alliance administers the Best Aquaculture Practices (BAP) third-party 
certification program. In the past, fish farms have had issues with respect to these four aspects of aquaculture, and BAP
 seeks to improve the fish farming industry across the globe. This is the only certification program that covers every
  step of the supply chain. You can be sure your seafood was farmed responsibly if it has the BAP logo on it!

What is AquacultureThe first stage in the aquaculture production chain is the hatchery. This is where the breeding of 
fish, hatching of eggs and rearing of fish through the early life stages happens. Once the animals are mature enough,
 they are transferred to the farm, where they are grown to harvest size, using feed produced at feed mills (another
  stage of aquaculture). The fish are then transported to a processing facility, where they are packaged and sent to
   food retailers and grocery stores. That’s where you come in.</p>
   <h2 style="text-align: center;">Types Of Fishes</h2>
   <div class="row">
     <div class="col-4">
   <div class="card card1" style="width: 410px;">
      <img class="card-img-top" src="./assets/images/18.webp" alt="fish img">
      <div class="card-body">
        <h3 class="card-text">RAHU</h3>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card" style="width: 410px;">
       <img class="card-img-top" src="./assets/images/bluefish.webp" alt="fish img">
       <div class="card-body">
         <h3 class="card-text">BLUEFISH</h3>
       </div>
     </div>
   </div>

   <div class="col-5">
    <div class="card card3" style="width: 380px;">
       <img class="card-img-top" src="./assets/images/dolphin.webp" alt="fish img">
       <div class="card-body">
         <h3 class="card-text">DOLPHIN</h3>
       </div>
     </div>
   </div>
 
    </div>



    <div class="row">
      <div class="col-4">
    <div class="card card4" style="width: 400px;">
       <img class="card-img-top" src="./assets/images/shark.webp" alt="fish img">
       <div class="card-body">
         <h3 class="card-text">SHARK</h3>
       </div>
     </div>
   </div>
 
   <div class="col-3">
     <div class="card" style="width: 410px;">
        <img class="card-img-top" src="./assets/images/catla.webp" alt="fish img">
        <div class="card-body">
          <h3 class="card-text">CATLA</h3>
        </div>
      </div>
    </div>
 
    <div class="col-5">
     <div class="card card6" style="width: 335px;">
        <img class="card-img-top" src="./assets/images/goldfish.jpg" alt="fish img">
        <div class="card-body">
          <h3 class="card-text">GOLDFISH</h3>
        </div>
      </div>
    </div>
  
     </div>